/** Main styles **/


/* Lilita One */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
background-color: rgb(212, 212, 212);
color: white ;

}
*{
    font-family: "Lilita One", sans-serif;

}

.toutesPersonnages {
    height: 80%;
    padding: 2%;
    text-align: center;
}

.personnage {
    padding: 1%;
    display: inline;
}

.question {
    display: inline;
    padding: 2%;
    text-align: center;
}

.boutons {
    text-align: left;
    padding: 3px;
}

#triche {
    text-align: right;
    display: inline;
    float: right;
}

.jeu {
    background-color: rgb(224 224 224);
    padding: 2% 2% 2% 2%;
    margin: 5% 31%;
    border-radius: 1%;
    box-shadow: -17px 8px 16px 0px rgb(0 0 0 / 20%);
}


/* input {
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    border-color: transparent;
    padding: 1%;
    margin: 1px;
} */



h1 {
    text-align: center;
    color: rgb(0, 0, 59);

}

h3 {
    display: inline;
}
span {
    font-size: medium;
}

form {
    display: inline;
}

.toutesQuestions {
    text-align: center;
}