body {
background-color: rgb(212, 212, 212);
color: white ;
}

.toutesPersonnages {
    height: 80%;
    padding: 2%;
    text-align: center;
}

.personnage {
    padding: 1%;
    display: inline;
}

.question {
    display: inline;
    padding: 2%;
    text-align: center;
}

.boutons {
    text-align: left;
}

#triche {
    text-align: right;
    display: inline;
    float: right;
}

.jeu {
    background-color: rgb(0, 0, 59);
    padding: 2% 2% 2% 2%;
    margin: 5% 25%;
    border-radius: 1%;
}

input {
    background-color: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    border-radius: 5%;
    border-color: transparent;
    padding: 1%;
    margin: 1px;
}



h1 {
    text-align: center;
    color: rgb(0, 0, 59);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    display: inline;
}
span {
    font-size: medium;
}

form {
    display: inline;
}

.toutesQuestions {
    text-align: center;
}